/* 
Allura Regular
font-family: allura, sans-serif;
font-weight: 400;
font-style: normal; 

balzano regular
font-family: allura, sans-serif;
font-weight: 400;
font-style: normal;

caliban regular
font-family: caliban-std, sans-serif;
font-weight: 400;
font-style: normal;

cheap pine window shadow
font-family: cheap-pine-shadow, sans-serif;
font-weight: 400;
font-style: normal;

cheap pine regular
font-family: cheap-pine-shadow, sans-serif;
font-weight: 400;
font-style: normal;

cheap pine sans
font-family: cheap-pine-shadow, sans-serif;
font-weight: 400;
font-style: normal;

shelby reg
font-family: cheap-pine-shadow, sans-serif;
font-weight: 400;
font-style: normal;

shelby bold
font-family: cheap-pine-shadow, sans-serif;
font-weight: 400;
font-style: normal;

calder dark outline
font-family: calder-dark-outline, sans-serif;
font-weight: 400;
font-style: normal;

calder grit shadow
font-family: calder-dark-shadow, sans-serif;
font-weight: 400;
font-style: normal;

calder script
font-family: calder-script, sans-serif;
font-weight: 400;
font-style: normal;

calder dark grit shadow
font-family: calder-dark-grit-shadow, sans-serif;
font-weight: 400;
font-style: normal;

calder - lc
font-family: calder-lc, sans-serif;
font-weight: 400;
font-style: normal;

calder dark grit
font-family: calder-dark-grit, sans-serif;
font-weight: 400;
font-style: normal;

calder shadow
font-family: calder-shadow, sans-serif;
font-weight: 400;
font-style: normal;

calder dark
font-family: calder-dark, sans-serif;
font-weight: 400;
font-style: normal;

calder lc grit
font-family: calder-lc-grit, sans-serif;
font-weight: 400;
font-style: normal;

modish
font-family: modish, sans-serif;
font-weight: 400;
font-style: normal;

winsome
font-family: winsome, sans-serif;
font-weight: 400;
font-style: normal;

p22 pooper black pro reg
font-family: p22-pooper-black-pro, sans-serif;
font-weight: 400;
font-style: normal;

wreath thin
font-family: wreath, serif;
font-weight: 200;
font-style: normal;

wreath light
font-family: wreath, serif;
font-weight: 300;
font-style: normal;

wreath regular
font-family: wreath, serif;
font-weight: 400;
font-style: normal;

wreath medium
font-family: wreath, serif;
font-weight: 500;
font-style: normal;

wreath bold
font-family: wreath, serif;
font-weight: 700;
font-style: normal;

*/

* {
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #F6921E;
}

#wrapper {
    width: 100%;
    height: auto;
}
#navBar {
    width: 100%;
    height: auto;
    background-color: #F6921E;
}



#rrLogo {
    width: 25%;
    height: auto;
    margin: 1.2vw 2vw 0.8vw;
}

#RRList {
    float: left;
    width: 19%;
    height: 6vw;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    background-color:  #759D59;
    color: #8bd954;
    font-size: 1.6vw;
    font-family : calder-dark;
    font-weight : 400;
    text-align: center;
    padding: 2.5vw;
}

input::placeholder {
    opacity: 0.8;
    color: #F6921E;
}

#secondBar {
    float: left;
    width: 100%;
    height: 6vw;
    background-color: #f6921e;
    z-index: 1;
}

#welcomeBar {
    float: left;
    width: 28%;
    height: 7vw;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    font-size: 1.6vw;
    color: #fff;
    background-color: #d65528;
    font-family : calder-dark;
    font-weight : 400;
    padding: 2.5vw;
    z-index: 1;
}

#thirdHalfBar {
    clear: both;
    float: left;
    width: 3%;
    height: 7vw;
    background-color: #d65528;
    z-index: 99;
}

#sepBar {
    float: left;
    width: 75%;
    height: 7vw;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    background-color: #F6921E;
    z-index: 1000;
    position: relative;
    margin-left: -3vw;
}

#search {
    float: left;
    margin:2vw 1vw 2vw 2vw;
    width: 28vw;
    height: 3vw;
    border-radius: 2vw;
    background-color: #fff;
    color: #759D59;
    font-size: 1.3vw;
    font-family : calder-dark-shadow;
    font-weight : 400;
    outline: transparent;
    border-color: transparent;
    padding-left: 1vw;
    padding-right: 1vw;
}

#search2 {
    float: left;
    margin:2vw 1vw 2vw 1vw;
    width: 28vw;
    height: 3vw;
    border-radius: 2vw;
    background-color: #fff;
    color: #759D59;
    font-size: 1.3vw;
    font-family : calder-dark-shadow;
    font-weight : 400;
    outline: transparent;
    border-color: transparent;
    padding-left: 1vw;
    padding-right: 1vw;
}

#submit {
    float: left;
    margin:2vw 1vw;
    width: 10vw;
    height: 3vw;
    border-radius: 2vw;
    background-color: #d65528;
    color: #fff;
    font-size: 1.6vw;
    font-family : calder-dark;
    font-weight : 400;
    padding: 0.4vw 1.25vw;
    z-index: 50;
    position: relative;
}

#thirdSHalfBar {
    float: right;
    width: 30%;
    height: 7vw;
    background-color: #759D59;
    z-index: 1;
    position: relative;
    margin-top: -7vw;
}

#gList {
    float: left;
    width: 19%;
    height: 6vw;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    background-color: #3756AF;
    color: #7090e8;
    font-size: 1.6vw;
    font-family : calder-dark;
    font-weight : 400;
    text-align: center;
    padding: 2.5vw;
    z-index: 99999;
}
#gList:hover, #welcomeBar:hover, #RRList:hover {
    color:#fff;
}

#puppyResults {
    clear: both;
    float: left;
    width: 100%;
    min-height: 50vw;
    display: block;
    background-color: #F6921E;
    padding-bottom: 3vw;
}

#puppyResultsContent {
    clear: both;
    float: left;
    width: 99%;
    min-height: 50vw;
    display: block;

}

div.desktopView, div.desktopRRView {
    float: left;
    width : 47%;
    height : auto;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    background-color : transparent;
    margin : 1vw;
} 

.desktopView .imageFood, .desktopRRView .imageRRFood {
    width : 20vh;
    height : 20vh;
    border-top-left-radius: 3vw;
    background-size: cover;
    background-position: center;
    float: left;
}

div.resultView, div.resultRRView {
    float: left;
    width : 72%;
    height : auto;
    color : #F6921E;
    font-size: 1.5vw;
    line-height: 1.75vw;
    font-family : calder-dark-shadow;
    font-weight : 400;
    margin : 0vw 1vw 0vw;
    padding : 1vw 1vw 0vw;
} 
.resultViewLink, .resultRRViewLink {
    font-size: 1.25vw;
    float: left;
    width : 72%;
    height : auto;
    color : #7090e8;
    line-height: 1.75vw;
    font-family : calder-dark-shadow;
    font-weight : 400;
    margin : 0vw 1vw 0vw;
    padding : 0.3vw 1vw 0vw;
}


img.addToButton {
    float: left;
    width: 5vh;
    height: 5vh;
    margin: 0.2vw 0.5vw 0vw 2vw;
}

.addToGL {
    float: left;
    font-size: 1vw;
    font-family : calder-dark;
    font-weight : 400;
    color: #7090e8;
    padding-top: 0.55vw;
}

img.addToButtonFR {
    float: left;
    width: 5%;
    height: 2.4vw;
    margin: 1vw 0.5vw 0vw 2vw;
}

.addToGLFR {
    float: left;
    font-size: 1vw;
    font-family : calder-dark;
    font-weight : 400;
    color: #d65528;
    padding-top: 0.75vw;
    
}

#rrIndex {
    clear: both;
    float: left;
    width: 100%;
    min-height: 50vw;
    display: block;
    background-color: #759D59;
    padding-bottom: 3vw;
}

#rrRecipeSnapshot {
    clear: both;
    float: left;
    width: 99%;
    min-height: 50vw;
    display: block;
}

#rrRecipeBox {
    clear: both;
    float: left;
    width: 100%;
    min-height: 50vw;
    background-color: #759D59;
    display: block;
    padding-bottom: 3vw;
}

#rrFullRecipe {
    clear: both;
    width: 75%;
    min-height: 50vw;
    margin-top: 8vw;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: 8vw;
    background-color: #fff;
    display: block;
}

#goLeft {
    float: left;
    width: 10%;
    height: auto;
    margin-top: 2vw;
    margin-left: 2vw;
    position: relative;
    z-index: 99;
}
#goRight {
    float: right;
    width: 10%;
    height: auto;
    margin-top: 2vw;
    margin-right: 2vw;
    position: relative;
    z-index: 99;
}

.FullRecipePage {
    width: 75%;
    min-height: 50vw;
    display: block;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8vw;
    padding-top: 1vw;
    position: relative;
    z-index: 1;
}

div.FullRecipeImage {
    width: 50%;
    height: 20vw;
    margin-top: 1vw;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1vw;
    background-color: #3756AF;
}
.FullRecipeTitle {
    font-size: 2vw;
    font-family : calder-dark;
    font-weight : 400;
    color: #772001;
    display: block;
    text-align: center;
    margin-bottom: 1vw;
}
.FullRecipePrepTime, .FullRecipeServesNum {
    font-size: 1.1vw;
    font-family : calder-dark;
    font-weight : 400;
    color: #772001;
    display: block;
    text-align: left;
    margin-left: 25%;
    margin-top: 1vw;
    margin-bottom: 0.4vw;
}
.FullRecipeCookTime {
    font-size: 1.1vw;
    font-family : calder-dark;
    font-weight : 400;
    color: #772001;
    display: block;
    text-align: left;
    margin-left: 25%;    
    margin-top: 1vw;
    margin-bottom: 0.4vw;
}
.FullRecipeIngredients {
    font-size: 1.1vw;
    font-family : calder-dark;
    font-weight : 400;
    color: #772001;
    display: block;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1vw;
    margin-bottom: 0.4vw;
}
.recipeI {
    list-style-type: none;
}
.recipeDHeader, .recipeIHeader {
    list-style-type: none;
    margin-top: 1vw;
    margin-bottom: 0.4vw;
}
.recipeDirLines {
    list-style-type: none;
    margin-top: 1vw;
}
.recipeILines {
    list-style-type: none;
}

.FullRecipeDirections {
    font-size: 1.1vw;
    font-family : calder-dark;
    font-weight : 400;
    color: #772001;
    display: block;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0.4vw;
}
.FullRecipePerServing {
    font-size: 1.1vw;
    font-family : calder-dark;
    font-weight : 400;
    color: #772001;
    display: block;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1vw;
    margin-bottom: 0.4vw;
}
.FullRecipeSource {
    font-size: 1vw;
    font-family : calder-dark;
    font-weight : 400;
    color: #772001;
    display: block;
    text-align: left;
    margin-left: 25%;
    margin-top: 1vw;
    margin-bottom: 0.4vw;
}
.rrPDFbutton {
    float: left;
    width: 11vw;
    height: 2.5vw;
    border-radius: 2vw;
    font-size: 0.75vw;
    font-family : calder-dark;
    font-weight : 400;
    background-color: #d65528;
    color: #fff;
    display: block;
    text-align: center;
    margin-top: 1vw;
    margin-left: 25%;
    padding-top: 0.75vw;
}
.rrPDFbutton:hover {
    background-color: #772001;
    color: #f6921e;
}

#gListBox {
    clear: both;
    float: left;
    width: 100%;
    min-height: 50vw;
    display: block;
    background-color: #3756AF;
    padding-bottom: 3vw;
}

#gListPage {
    clear: both;
    float: left;
    width: 99%;
    min-height: 50vw;
    display: block;

}

#footerR {
    clear: both;
    width: 100%;
    height: 7vw;
    background-color: #772001;
    color: #d65528;
    font-size: 1vw;
    font-family : calder-dark;
    font-weight : 400;
    text-align: center;
    padding: 2vw;
}

