/* universal reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	background-color: #F6921E;
}
/* nav bar added R */
#navBar {
    width: 100%;
    height: auto;
    background-color: #F6921E;
}
/* nav bar added R */
#rrLogo {
    width: 25%;
    height: auto;
    margin: 1.2vw 2vw 0.8vw;
}

button {
	outline: none;
}

.tab {
	cursor: pointer;
}

.tab-1 {
    width: 28%;
    height: 6vw;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    font-size: 1.6vw;
    color: #f1a5a5;
    background-color: #d65528;
    font-family: calder-dark;
    font-weight: 400;
	border: 0;
	padding: 2.5vw;
    z-index: 1;
}

.tab-2 {
    width: 19%;
    height: 6vw;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    font-size: 1.6vw;
    color: #8bd954;
    background-color: #759D59;
    font-family: calder-dark;
    font-weight: 400;
	border: 0;
	text-align: center;
    padding: 2.5vw;
}

.tab-3 {
    width: 19%;
    height: 6vw;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    font-size: 1.6vw;
    color: #7090e8;
    background-color: #3756AF;
    font-family: calder-dark;
    font-weight: 400;
	border: 0;
	text-align: center;
    padding: 2.5vw;
    z-index: 99999;
}

.tab-content {
	display: none;
}

.tab:hover {
	color: white;
}

.active-tab {
	display: block;
}

.activeButton {
	color: #fff;
}

.search-bar-container {
	display: flex;
    position: relative;
    background-color: #F6921E;
}

#searchIngredients, #searchFood {
    width: 28vw;
    height: 3vw;
    border-radius: 2vw;
    background-color: #fff;
    font-size: 1.3vw;
    font-family: calder-dark-shadow;
    font-weight: 400;
    outline: transparent;
    border-color: transparent;
    padding-left: 1vw;
    padding-right: 1vw;
}

/* search field 1 */
#searchIngredients {
	margin: 2vw 1vw 2vw 2vw;
}

/* search field 2 */
#searchFood {
	margin: 2vw 2vw 2vw 1vw;
}

::placeholder {
	color: #bfbfbf;
}

input {
    color: #555;
}

#submit {
    margin: 2vw 0vw;
    height: 3vw;
    border-radius: 2vw;
    background-color: #d65528;
    color: #fff;
    font-size: 1.6vw;
    font-family: calder-dark;
    font-weight: 400;
    padding: 0.4vw 1.25vw;
    border: 0;
    cursor: pointer;
}

.results-container {
	padding-top: 1rem;
	background-color: #F6921E;
	min-height: 100%;
	margin-bottom: 3rem;
}

/* results container where data is displayed */
#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F6921E;
}

/* recipe blocks that are generated */
.food-block, .food-block2 {
	display: flex;
	width: 47%;
	margin: 1rem;
    align-items: center;
    background-color: white;
	border: 0px solid #000000;
	overflow: hidden;
	border-radius: 3vw 3vw 0vw 0vw;
    -moz-border-radius: 3vw 3vw 0vw 0vw;
    -webkit-border-radius: 3vw 3vw 0vw 0vw;
	border: 0px solid #000000;

}

.food-image, .food-image2 {
	min-width: 8rem;
 	height: 8rem;
 	background-size: cover;
 	background-position: center;
 	background-color: #dedddd;
}

.food-title-and-link, .food-title-and-link2 {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #e79547;
}

.food-title, .food-title2 {
    font-size: 1.35vw;
    line-height: 1.75vw;
    font-family: calder-dark-shadow;
}

/* link to recipe */
.food-title-and-link a, .food-title-and-link2 .recipeBookmark {
    font-size: 1.15vw;
    line-height: 2.15vw;
    text-decoration: none;
    font-weight: bold;
    color: #7090e8;
    cursor: pointer;
    font-family: calder-dark;
}

.food-title-and-link a:hover, .food-title-and-link2 .recipeBookmark:hover {
	opacity: .8;
}

.plus-sign {
    width: 2vw;
    margin-top: 0.5vw;
    margin-right: .4rem;
    margin-bottom: -0.5rem;
}

.add-to-grocery-list {
    font-size: 1vw;
    font-family: calder-dark;
    text-decoration: none;
    color: #7090e8;
    cursor: pointer;
}

.add-to-grocery-list:hover {
	opacity: .8;
}

/* on grocery list page */
.grocery-list-background {
	background-color: #3756AF;
	padding-bottom: 3rem; 
}

/* on grocery list page */
#exportPDF {
	margin: 7vw 0vw 2vw;
    height: 3vw;
    border-radius: 2vw;
    background-color: #d65528;
    color: #fff;
    font-size: 1.6vw;
    font-family: calder-dark;
    font-weight: 400;
    padding: 0.4vw 1.25vw;
    border: 0;
    cursor: pointer;
    margin-right: 34.5%;
    margin-left: 34.5%;
}

/* on grocery list page */
#groceryListContainer {
    width: 75%;
	min-height: 100%;
	background-color: white;
    padding: 4rem;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: 3vw;
}

/* food title/link on grocery list page */
.grocery-list-entry strong, .grocery-list-entry a {
    color: #5c82e8;
    text-decoration: none;
    font-size: 1.5vw;
    line-height: 2vw;
    font-family: calder-dark-shadow;
    font-weight: 400;
}

/* on grocery list page */
.grocery-list-entry {
    margin-top: 1rem;
}

/* on grocery list page */
.ingredient-list-entry {
    display: block;
    color: #58595b;
    font-size: 1.2vw;
    line-height: 2.5vw;
    font-family: calder-dark;
    font-weight: 400;
}

/* 'remove item' text under grocery items */
.remove-item {
	color: #f18585;
	display: inline-block;
	margin-top: -1rem;
    cursor: pointer;
    font-size: 1.2vw;
    line-height: 2.5vw;
    font-family: calder-dark;
    font-weight: 400;
}

/* 'X' icon next to ingredient items */
.remove-ingredient {
	margin-left: .25rem;
	margin-bottom: -.1rem;
    cursor: pointer;
    display: inline-block;
    width: .8rem;
    opacity: .6;
}

.quantity-field, .quantity-field2 {
	width: 2rem;
	margin-left: .5rem;
}

#rrIndex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #759D59;
    padding-top: 3vw; 
    padding-bottom: 4vw;
}

#rrRecipeBox {
    width: 100%;
    min-height: 50vw;
    background-color: #759D59;
    padding-top: 4vw;
    padding-bottom: 3vw;
}

#rrFullRecipe {
    width: 75%;
    min-height: 50vw;
    margin-top: 4vw;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: 6vw;
    background-color: #fff;
}

div#back-button {
    width: 4%;
    margin-left: 91vw;
    opacity: 0.7;
}

div#back-button:hover {
    opacity: 1;
}

#goLeft {
    width: 10%;
    padding-top: 2vw;
    margin-left: 2vw;
    position: relative;
    z-index: 99;
}
#goRight {
    width: 10%;
    margin-top: -7vw;
    margin-left: 64.5vw;
    position: relative;
    display: inline-block;
    z-index: 99;
}

.FullRecipePage {
    width: 75%;
    min-height: 50vw;
    display: block;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8vw;
    padding-top: 1vw;
    position: relative;
    z-index: 1;
}

div.FullRecipeImage {
    width: 50%;
    height: 20vw;
    margin-top: -10vw;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1vw;
    background-color: #3756AF;
}
.FullRecipeTitle {
    font-size: 2vw;
    font-family : calder-dark;
    font-weight : 400;
    color: #772001;
    display: block;
    text-align: center;
    margin-bottom: 1vw;
}
.FullRecipePrepTime, .FullRecipeServesNum, .FullRecipeCookTime, .FullRecipeIngredients, .FullRecipeDirections {
    font-size: 1.1vw;
    font-family: calder-dark;
    font-weight: 400;
    color: #772001;
    display: block;
    text-align: left;
    margin-left: 25%;
    margin-top: 1vw;
    margin-bottom: 0.4vw;
}
.recipeI {
    list-style-type: none;
}
.recipeDHeader, .recipeIHeader {
    list-style-type: none;
    margin-top: 1vw;
    margin-bottom: 0.4vw;
}
.recipeDirLines {
    list-style-type: none;
    margin-top: 1vw;
    margin-left: 1vw;
}
.recipeILines {
    list-style-type: none;
    margin-left: 1vw;
}

.FullRecipePerServing, .FullRecipeSource {
    font-size: 1vw;
    font-family: calder-dark;
    font-weight: 400;
    color: #772001;
    display: block;
    text-align: left;
    margin-left: 25%;
    margin-top: 1vw;
    margin-bottom: 0.4vw;
}
.rrPDFbutton {
    width: 15vw;
	height: 3.5vw;
	border-radius: 2vw;
    font-size: 1vw;
    font-family: calder-dark;
    font-weight: 400;
    background-color: #d65528;
    color: #fff;
    text-align: center;
    margin-top: 2vw;
    margin-left: 37.5%;
    padding-top: 1.12vw;
}
.rrPDFbutton:hover {
    background-color: #772001;
    color: #f6921e;
}

#footerR {
    clear: both;
    width: 100%;
    height: 7vw;
    background-color: #772001;
    color: #d65528;
    font-size: 1vw;
    font-family: calder-dark;
    font-weight: 400;
    text-align: center;
    padding: 2vw;
}


/* MEDIA QUERIES *****************************************************************************/

@media screen and (max-width: 990px) {
	.food-block, .food-block2 {
		width: 45%;
	}
}

@media screen and (max-width: 850px) {
	.food-image, .food-image2 {
		height: 8rem;
	}
}

@media screen and (max-width: 640px) {
    #rrLogo{
        width: 40%;
        height: auto;
        margin: 2.4vw 4vw 2vw;
    }
    .food-block, .food-block2 {
        width: 90%;
        border-radius: 4vw 4vw 0vw 0vw;
        -moz-border-radius: 4vw 4vw 0vw 0vw;
        -webkit-border-radius: 4vw 4vw 0vw 0vw;
    }
    .food-title, .food-title2 {
        font-size: 3vw;
        line-height: 4vw;
    }
	.tab {
        font-size: 2.5vw;
        height: 12vw;
        border-radius: 4vw 4vw 0vw 0vw;
        padding: 3vw;
    }
    .tab-1 {
        width: 43%;
    }
    .tab-2 {
        width: 29%;
    }
    .tab-3 {
        width: 28%;
    }
    .search-bar-container {
		flex-direction: column;
		padding-left: 1rem;
    	padding-right: 1rem;
	}
	#searchIngredients, #searchFood {
		margin: 0;
        height: 8vw;
        border-radius: 7vw;
		width: 96%;
        margin-top: 1.5rem;
        margin-left: 2%;
		font-size: 2.5vw;
		padding-left: 4vw;
    	padding-right: 0;
	}
	#submit {
        margin: 0;
        border-radius: 7vw;
		margin: 1.5rem 37.5% 0.5rem;
		height: 8vw;
        width: 25%;
		font-size: 3vw;
    }
    .food-title-and-link a, .food-title-and-link2 .recipeBookmark {
        font-size: 2.5vw;
        line-height: 4vw;
    }
    .add-to-grocery-list {
        font-size: 2.15vw;
    }
    .plus-sign {
        width: 4vw;
        margin-top: 1.5vw;
    }
    div#back-button {
        width: 5%;
        margin-left: 91vw;
    }
    div.FullRecipeImage {
        width: 80%;
        height: 24vw;
        margin-top: -8vw;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 3vw;
    }
    .FullRecipeTitle {
        font-size: 3vw;
        margin-bottom: 2vw;
    }
    .FullRecipePrepTime, .FullRecipeServesNum, .FullRecipeCookTime, .FullRecipeIngredients, .FullRecipeDirections {
        font-size: 1.8vw;
        margin-left: 10%;
    }
    .FullRecipePerServing, .FullRecipeSource {
        font-size: 1.6vw;
        margin-left: 10%;
    }
    .rrPDFbutton {
        width: 30vw;
        height: 5.5vw;
        border-radius: 3vw;
        font-size: 2vw;
        margin-top: 5vw;
        margin-left: 23%;
        padding-top: 1.4vw;
    }
    #footerR {
        height: 14vw;
        font-size: 2vw;
        padding: 4vw;
    }
    #exportPDF {
        margin: 7vw 0vw 4vw;
        width: 50%;
        height: 6vw;
        border-radius: 7vw;
        font-size: 2.5vw;
        margin-right: 25%;
        margin-left: 25%;
    }
    .grocery-list-entry strong, .grocery-list-entry a {
        font-size: 3vw;
        line-height: 5vw;
    }
    .ingredient-list-entry {
        font-size: 2.4vw;
        line-height: 5vw;
    }
    .remove-item {
        font-size: 2.4vw;
        line-height: 5vw;
    }
    .remove-ingredient {
	    margin-left: .25rem;
	    margin-bottom: -.3rem;
        width: 2.75vw;
    }
    .quantity-field {
        width: 2.25rem;
        height: 1.5rem;
        margin-left: 0.85rem;
        margin-right: 0.85rem;
    }
    
}

@media screen and (max-width: 625px) {
    #rrLogo{
        width: 40%;
        margin: 2.4vw 4vw 2vw;
    }
    .food-title, .food-title2 {
        font-size: 3vw;
        line-height: 4vw;
    }
	.tab {
        font-size: 2.5vw;
        height: 12vw;
        border-radius: 4vw 4vw 0vw 0vw;
        padding: 3vw;
    }
    .tab-1 {
        width: 43%;
    }
    .tab-2 {
        width: 29%;
    }
    .tab-3 {
        width: 28%;
	}
	.search-bar-container {
		flex-direction: column;
		padding-left: 1rem;
    	padding-right: 1rem;
	}
	#searchIngredients, #searchFood {
		margin: 0;
        height: 8vw;
        border-radius: 7vw;
		width: 96%;
        margin-top: 1.5rem;
        margin-left: 2%;
		font-size: 2.5vw;
		padding-left: 4vw;
    	padding-right: 0;
	}
	#submit {
        margin: 0;
        border-radius: 7vw;
		margin: 1.5rem 37.5% 0.5rem;
		height: 8vw;
        width: 25%;
		font-size: 3vw;
    }
    .food-block, .food-block2 {
        border-radius: 4vw 4vw 0vw 0vw;
        -moz-border-radius: 4vw 4vw 0vw 0vw;
        -webkit-border-radius: 4vw 4vw 0vw 0vw;
    }
	.food-image, .food-image2 {
		height: 7rem;
    }
    .food-title-and-link a, .recipeBookmark {
        font-size: 3vw;
        line-height: 3.25vw;
    }
    .add-to-grocery-list {
        font-size: 2.15vw;
    }
    #groceryListContainer {
        margin-bottom: 10vw;
    }
	#exportPDF {
		width: 55%;
		margin-top: 1.5rem;
		margin-bottom: 2.5rem;
		height: 7vw;
        font-size: 2.5vw;
        margin-left: 22.5%;
	}
	.grocery-list-background {
		padding: 1rem;
    }
    
    #footerR {
        height: 15vw;
        font-size: 2.25vw;
        padding: 5vw;
    }

}

@media screen and (max-width: 375px) {
	.add-to-grocery-list {
    	font-size: .7rem;
	}
}

/* Styling for print/export */
@media print {
	input, button, #results {
		display: none;
	}

	#groceryListContainer, .FullRecipePage, .FullRecipeImage {
		display: block;
	}
	#groceryListContainer {
		box-shadow: none;
	}
	.remove-item {
		display: none;
	}
	.remove-ingredient {
		display: none;
	}
	.quantity-field {
		display: inline-block;
		border: 0;
	}
	::placeholder {
		display: none;
		opacity: 0;
	}
	.grocery-list-entry {
		margin-top: 1rem;
    }
    #goLeft, #goRight {
		display: none;
	}
}