/* universal reset */
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Nunito Sans', sans-serif;
}

/* results container where data is displayed */
#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.food-block {
	display: flex;
	width: 20rem;
	margin: 1rem;
    align-items: center;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(204,204,204,0.65);
		-moz-box-shadow: 0px 0px 7px 0px rgba(204,204,204,0.65);
		box-shadow: 0px 0px 7px 0px rgba(204,204,204,0.65);
	border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	border-right: 5px solid #e79547;
	overflow: hidden;
}

.food-image {
	min-width: 8rem;
 	height: 6rem;
 	background-size: cover;
 	background-position: center;
 	background-color: #dedddd;
}

.food-title-and-link {
	font-size: .95rem;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-x: scroll;
    color: #e79547;
}

/* link to recipe */
.food-title-and-link a {
	font-size: .8rem;
    text-decoration: none;
    font-weight: bold;
    color: #2196F3;
    cursor: pointer;
}

.add-to-grocery-list:hover {
	opacity: .8;
}

.add-to-grocery-list {
	font-size: .8rem;
    text-decoration: none;
    font-weight: bold;
    color: #2196F3;
    cursor: pointer;
}

.food-title-and-link a:hover {
	opacity: .8;
}

.grocery-list-entry {
	margin-top: 1rem;
}

.remove-item {
	display: inline-block;
	color: red;
	cursor: pointer;
	margin-top: -1rem;
}

.quantity-field {
	width: 2rem;
	margin-left: .5rem;
}

/* MEDIA QUERIES *****************************************************************************/

/* Styling for print/export */
@media print {
	input, button, #results {
		display: none;
	}

	#groceryListContainer {
		display: block;
	}

	.remove-item {
		display: none;
	}
	.quantity-field {
		display: inline-block;
		border: 0;
	}
	::placeholder {
		display: none;
		opacity: 0;
	}
	.grocery-list-entry {
		margin-top: 1rem;
	}
}